* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  width: 100%;
  height: 100%;
}

body, #container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  flex-direction: column;
  background-color: #222;
  overflow: hidden;
}

#forest {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  filter: grayscale(100%);
}

#wardruna {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

#raven {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: raven-path 15s linear;
  opacity: 0;
}

.stop-color--1 {
  stop-color: #c0c0c0;
}

.stop-color--2 {
  stop-color: #f6f6f6;
}

.stop-color--1 {
  stop-color: #c0c0c0;
}

#container {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  position: absolute;
}

path {
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit: 3.7;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes raven-path {
  0% { 
    left: -500px;
    top: 200px;
    opacity: 0.8;
  }

  100% {
    top: -100px;
    left: 2000px;
    opacity: 0.8;
  }
}
